<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글 목록</title>
</head>

<body>
<main layout:fragment="main">
    <table class="table mt-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="w-50">제목</th>
            <th scope="col">작성일</th>
            <th scope="col">수정일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post:${posts}">
            <th scope="row" th:text="${post.id}"></th>
            <td>
                <a th:href="@{|/post/${post.id}|}" th:text="${post.subject}"></a>
            </td>
            <td th:text="${#temporals.format(post.createDate, 'yy-MM-dd')}"></td>
            <td th:text="${#temporals.format(post.modifyDate, 'yy-MM-dd')}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>