<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글 수정</title>
</head>

<body>
<main layout:fragment="main">
    <form th:action="@{|/post/${post.id}|}" method="#" th:method="PATCH" enctype="multipart/form-data">
        <div>
            <label>
                <span>제목</span>
            </label>
            <input autofocus type="text" name="subject" class="input" maxlength="100" th:value="${post.subject}">
        </div>
        <div>
            <label>
                <span>대표 이미지</span>
            </label>
            <input type="file" name="imageFile" accept="image/png, image/gif, image/jpeg">
        </div>
        <div>
            <label>
                <span>내용</span>
            </label>
            <textarea name="content" class="summernote" th:text="${post.content}"></textarea>
        </div>
        <div class="mx-auto">
            <button class="btn btn-danger" type="button" onclick="history.back();">
                <span>취소</span>
            </button>
            <button class="btn btn-primary" type="submit">
                <span>작성</span>
            </button>
        </div>
    </form>

    <script>
      $('.summernote').summernote({
        placeholder: 'Hello Bootstrap 4',
        tabsize: 2,
        height: 300
      });
    </script>

</main>
</body>
</html>