<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">

<head>
    <title>메인</title>
    <link rel="stylesheet" href="main.css">
</head>

<main layout:fragment="main">

    <section class="mt-5">
        <div>
            <h2 class="text-primary">👩🏻‍💻 나만의 놀이터</h2>
            <br>
            <h3 class="text-primary">CONTACT</h3>
            <div>
                <span class="text-primary">Email</span> jea5158@naver.com
                <br>
                <span class="text-primary">GitHub</span> https://github.com/NeoGuRi95
                <br>
                <span class="text-primary">Velog</span> https://velog.io/@jea5158
            </div>
            <br>
            <h3 class="text-primary">EDUCATION</h3>
            <div>
                <div>
                    <p>숭실대학교 2014.03~2021.02</p>
                </div>
                <div>
                    <ul>
                        <li>산업정보시스템공학과</li>
                        <li>3.64 / 4.5</li>
                    </ul>
                </div>
            </div>
            <br>
            <h2 class="text-primary">SKILLS</h2>
            <div>
                <div>
                    <p>Backend</p>
                </div>
                <div>
                    <ul>
                        <li>Spring Boot</li>
                        <li>Java, JPA</li>
                        <li>MySQL</li>
                    </ul>
                </div>
            </div>
            <div>
                <div>
                    <p>Frontend</p>
                </div>
                <div>
                    <ul>
                        <li>Thymeleaf</li>
                    </ul>
                </div>
            </div>
            <div>
                <div>
                    <p>Tools</p>
                </div>
                <div>
                    <ul>
                        <li>Git, Github</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
</html>
