<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">

<head>
    <title>메인</title>
    <link rel="stylesheet" href="main.css">
</head>

<main layout:fragment="main">

    <section>
        <div>
            <h1 class="text-primary">👩🏻‍💻 ABOUT ME</h1>
            <span class="h4">
                안녕하세요. 백엔드 개발자를 꿈꾸며 공부중인 박재현입니다!<br>
                + 개인적으로 관심있는 기능을 구현하고자 현재 사이트를 운영중입니다.
            </span>
            <h2 class="text-primary">CONTACT</h2>
            <span class="h4">
                <span class="text-primary">Email</span> jea5158@naver.com
                <br>
                <span class="text-primary">GitHub</span> https://github.com/NeoGuRi95
                <br>
                <span class="text-primary">Velog</span> https://velog.io/@jea5158
            </span>
            <h2 class="text-primary">EDUCATION</h2>
            <div class="h4">
                <div>
                    <p>숭실대학교 2014.03~2021.02</p>
                </div>
                <div>
                    <ul>
                        <li>산업정보시스템공학과</li>
                        <li>3.64 / 4.5</li>
                    </ul>
                </div>
            </div>
            <h2 class="text-primary">SKILLS</h2>
            <div class="h4">
                <div>
                    <p>Backend</p>
                </div>
                <div>
                    <ul>
                        <li>Spring Boot</li>
                        <li>Java, JPA, MyBatis</li>
                        <li>MySQL</li>
                    </ul>
                </div>
            </div>
            <div class="h4">
                <div>
                    <p>Frontend</p>
                </div>
                <div>
                    <ul>
                        <li>Thymeleaf</li>
                    </ul>
                </div>
            </div>
            <div class="h4">
                <div>
                    <p>Tools</p>
                </div>
                <div>
                    <ul>
                        <li>Git, Github</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
</html>
