<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">

<head>
    <title>메인</title>
    <link rel="stylesheet" href="main.css">
</head>

<main layout:fragment="main">

    <section class="mt-5">
        <div>
            <h2 class="text-primary">👩🏻‍💻 코딩 놀이터</h2>
            <br>
            <h3 class="text-primary">CONTACT</h3>
            <div>
                <span class="text-primary">Email</span> jea5158@naver.com
                <br>
                <span class="text-primary">GitHub</span> https://github.com/NeoGuRi95
                <br>
                <span class="text-primary">Velog</span> https://velog.io/@jea5158
            </div>
    </section>
</main>
</html>
